/* src/App.scss */

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align content to the top */
  height: 100vh; /* 100% of the viewport height */
  width: 100vw; /* 100% of the viewport width */
  padding: 20px;

  h1 {
    color: #333;
  }
}
