.node-tree-container {
  width: 100%;
  height: 100vh;
  margin-top: 20px;
  .node__red > circle {
    fill: red;
  }

  .node__green > circle {
    fill: green;
  }
  .node-functional > circle {
    fill: green;
  }
  .node-non-functional > circle {
    fill: red;
  }
}
