// UpdateNodeForm.scss

.update-node-form-container {
  margin-top: 20px;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    label {
      margin-bottom: 10px;

      input {
        width: 100%;
        padding: 8px;
        margin-top: 4px;
        box-sizing: border-box;
      }
    }

    .form-buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;

      button {
        padding: 10px;
        cursor: pointer;
      }
    }
  }
}
